<% provide(:title, 'Menu') %>
<h1>Menu</h1>
<p><a href="/static_pages/contact">Support center</a></p>
<p>Returns</p>
<p>About NewCo</p>
<p>NewCo Blog</p>
<p>Careers</p>
<p>Legal</p>
<p>Privacy</p>
<p>Security</p>