@import "bootstrap";

box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  }

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: #555;
}

h1 {
  font-size: 2.8em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

header a {
	color: #555;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #555;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  text-decoration: none;
}

header ul {
  float: right;
  list-style: none;
}

header ul li {
  float: left;
  margin-left: 10px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* sidebar */

aside section h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }

aside section {
    border-top: 1px solid #eaeaea;
    color: #999;
    padding: 30px 0;

}

aside span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

.signup_form {
  color: #555;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
}

.signup_form p {
  margin-top: 20px;
}

input, textarea, select, .uneditable-input {
  -moz-border-radius:3px; /* Firefox */
  -webkit-border-radius: 3px; /* Safari, Chrome */
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;

}

input {
  padding: 8px;
  height: 40px;
}

#message-box-error {
border: 1px solid #eed3d7;
padding: 1.2857142857em 1.7142857143em;
background: #f2dede;
border-radius: 3px;
margin-bottom: 20px;
color: #b94a48;
}

#message-box-error ul {
    list-style: none;
    margin: 0 0 18px 0;
  }


.field_with_errors {
  
}